@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.about{
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:2% 5%;
}

.heading{
    font-size: 3rem;
    font-weight: 600;
    margin:2%;
}

.content{
    font-size: 1.2rem;
}

