/* body {
    background-color: #111214;
    font-family: "Onest", sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
    overflow-y: hidden;
    width: 100vw;
  }
  
  .display-none {
    display: none;
  }
  
  .star {
    position: absolute;
    border-radius: 50%;
    animation: animate 0.8s ease-in infinite;
  }
  
  .star1 {
    background-color: darkorange;
    height: 1vmin;
    width: 1vmin;
  }
  
  .star2 {
    background-color: rgba(255, 255, 255, 0.7);
    height: 0.8vmin;
    width: 0.8vmin;
  }
  
  .star3 {
    background-color: rgba(255, 255, 255, 0.8);
    height: 1.2vmin;
    width: 1.2vmin;
  }
  
  @keyframes animate {
    0% {
      opacity: 0;
    }
    30%, 90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateY(-100px) scale(0.5);
    }
  }
  
  .space {
    height: 100vh;
    overflow: hidden;
    perspective: 10vmin;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: -1;
  }
  
  .mid-label {
    display: grid;
    left: 0;
    height: 100vh;
    margin: 0;
    place-content: center;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: -10000;
  }
  
  .mid-label__text {
    animation: show-mid-label 14.2s ease-in-out both;
    color: #fff;
    font-size: 1.8rem;
    letter-spacing: 0.16rem;
    margin: 0 auto;
    text-align: center;
  }
  
  @keyframes show-mid-label {
    0% {
      opacity: 0;
    }
  
    50% {
      color: #111214;
      opacity: 0;
      letter-spacing: 4vw;
    }
  
    78% {
      color: #eeeeee;
      opacity: 0.4;
      letter-spacing: 0.16rem;
    }
  
    85% {
      color: #fff;
      font-size: 2rem;
      opacity: 1;
      transform: scale(1);
    }
  
    90% {
      color: #fff;
      font-size: 2rem;
      letter-spacing: 0.16rem;
      opacity: 1;
      transform: scale(1);
    }
  
    100% {
      color: #9e9e9e;
      letter-spacing: 0.16rem;
      font-size: 2rem;
      opacity: 1;
      transform: scale(1);
    }
  }
   */