html {
  height: 100%;
  /* background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%); */
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1086px 1565px #fff, 1659px 1071px #fff, 712px 75px #fff,
    922px 951px #fff, 587px 159px #fff, 1447px 854px #fff, 1201px 1434px #fff,
    1123px 121px #fff, 619px 296px #fff, 1159px 1676px #fff, 1396px 1890px #fff,
    94px 1766px #fff, 1056px 1781px #fff, 1268px 1196px #fff, 1547px 417px #fff,
    1553px 1777px #fff, 1286px 1442px #fff, 1107px 253px #fff, 1215px 789px #fff,
    994px 1984px #fff, 160px 963px #fff, 836px 1133px #fff, 257px 833px #fff,
    1851px 303px #fff, 322px 1899px #fff, 14px 811px #fff, 932px 75px #fff,
    520px 308px #fff, 20px 1989px #fff, 1680px 981px #fff, 1712px 1738px #fff,
    2px 1135px #fff, 1002px 186px #fff, 1186px 68px #fff, 239px 403px #fff,
    1857px 568px #fff, 1069px 1724px #fff, 1621px 1923px #fff, 500px 1703px #fff,
    1967px 30px #fff, 1320px 1601px #fff, 1032px 1628px #fff, 296px 1767px #fff,
    87px 624px #fff, 1355px 1149px #fff, 532px 1010px #fff, 639px 1493px #fff,
    1127px 192px #fff, 455px 1873px #fff, 1531px 1159px #fff, 1118px 1437px #fff,
    397px 1487px #fff, 1469px 50px #fff, 1090px 1893px #fff, 1985px 1356px #fff,
    1672px 829px #fff, 562px 1007px #fff, 1422px 219px #fff, 1428px 1106px #fff,
    1819px 1077px #fff, 1632px 710px #fff, 942px 1510px #fff, 1105px 1126px #fff,
    1706px 279px #fff, 1820px 33px #fff, 1470px 1684px #fff, 643px 389px #fff,
    854px 1445px #fff, 521px 464px #fff, 1284px 1142px #fff, 1837px 1553px #fff,
    588px 864px #fff, 1575px 1960px #fff, 1111px 1193px #fff, 547px 1540px #fff,
    257px 1899px #fff, 1199px 891px #fff, 38px 1201px #fff, 400px 252px #fff,
    1190px 1083px #fff, 1261px 1810px #fff, 1341px 1508px #fff,
    743px 1617px #fff, 535px 1333px #fff, 1121px 1921px #fff, 1762px 593px #fff,
    294px 1446px #fff, 890px 768px #fff, 148px 1858px #fff, 592px 1988px #fff,
    1130px 1284px #fff, 1034px 1019px #fff, 878px 1073px #fff,
    1763px 1798px #fff, 767px 498px #fff, 1394px 1581px #fff, 1300px 139px #fff,
    158px 1634px #fff, 716px 23px #fff, 580px 684px #fff, 962px 208px #fff,
    533px 1086px #fff, 1109px 1861px #fff, 1266px 698px #fff, 1799px 769px #fff,
    745px 1602px #fff, 494px 214px #fff, 559px 1574px #fff, 1869px 860px #fff,
    1784px 1439px #fff, 1249px 1747px #fff, 1238px 239px #fff, 26px 1351px #fff,
    1933px 1031px #fff, 1837px 1807px #fff, 789px 80px #fff, 69px 705px #fff,
    1634px 528px #fff, 1208px 1987px #fff, 1242px 828px #fff, 825px 1181px #fff,
    48px 598px #fff, 720px 931px #fff, 1002px 656px #fff, 202px 767px #fff,
    20px 1741px #fff, 468px 1764px #fff, 1167px 1796px #fff, 590px 655px #fff,
    1010px 1856px #fff, 30px 908px #fff, 678px 1268px #fff, 1573px 761px #fff,
    1404px 156px #fff, 471px 1327px #fff, 1432px 43px #fff, 285px 721px #fff,
    797px 1188px #fff, 1696px 373px #fff, 551px 1307px #fff, 363px 687px #fff,
    380px 637px #fff, 1221px 1806px #fff, 1788px 476px #fff, 1382px 1590px #fff,
    1511px 758px #fff, 1900px 718px #fff, 354px 640px #fff, 1364px 981px #fff,
    1733px 416px #fff, 924px 1835px #fff, 1716px 822px #fff, 1233px 1519px #fff,
    892px 624px #fff, 814px 1352px #fff, 1727px 1840px #fff, 745px 657px #fff,
    382px 174px #fff, 54px 623px #fff, 973px 537px #fff, 1682px 331px #fff,
    1812px 1370px #fff, 730px 430px #fff, 979px 313px #fff, 559px 1670px #fff,
    1360px 922px #fff, 1878px 560px #fff, 543px 1001px #fff, 565px 766px #fff,
    452px 94px #fff, 694px 645px #fff, 419px 387px #fff, 218px 63px #fff,
    1595px 1456px #fff, 868px 831px #fff, 873px 273px #fff, 1318px 903px #fff,
    1886px 940px #fff, 1953px 922px #fff, 624px 1753px #fff, 1200px 549px #fff,
    1239px 1890px #fff, 1757px 1359px #fff, 1250px 526px #fff, 250px 1041px #fff,
    1509px 1406px #fff, 823px 638px #fff, 448px 957px #fff, 596px 376px #fff,
    1884px 1505px #fff, 978px 214px #fff, 557px 925px #fff, 810px 1979px #fff,
    58px 1119px #fff, 1718px 1841px #fff, 1847px 1992px #fff, 501px 697px #fff,
    1381px 1471px #fff, 576px 1103px #fff, 1911px 1947px #fff,
    1957px 1081px #fff, 1705px 392px #fff, 700px 508px #fff, 1700px 676px #fff,
    1198px 672px #fff, 1121px 760px #fff, 378px 1405px #fff, 1574px 1885px #fff,
    1691px 1695px #fff, 1581px 1943px #fff, 1024px 1927px #fff,
    1455px 924px #fff, 1263px 799px #fff, 290px 1628px #fff, 506px 1774px #fff,
    1656px 511px #fff, 37px 375px #fff, 1255px 1470px #fff, 1757px 407px #fff,
    1665px 493px #fff, 969px 1649px #fff, 1204px 378px #fff, 1040px 579px #fff,
    1149px 282px #fff, 1558px 302px #fff, 1634px 792px #fff, 1962px 1730px #fff,
    984px 1611px #fff, 1327px 1692px #fff, 1443px 1316px #fff, 971px 1668px #fff,
    1043px 208px #fff, 310px 195px #fff, 957px 1999px #fff, 1808px 157px #fff,
    1179px 1917px #fff, 1791px 1117px #fff, 1937px 1871px #fff,
    620px 1951px #fff, 1730px 979px #fff, 728px 846px #fff, 1786px 721px #fff,
    863px 694px #fff, 64px 420px #fff, 943px 311px #fff, 1121px 1302px #fff,
    251px 1055px #fff, 1350px 391px #fff, 1704px 1621px #fff, 893px 1403px #fff,
    1188px 1747px #fff, 1822px 1167px #fff, 1314px 1099px #fff,
    1311px 515px #fff, 1791px 1622px #fff, 849px 1679px #fff, 94px 1967px #fff,
    1800px 199px #fff, 512px 881px #fff, 939px 19px #fff, 1776px 1138px #fff,
    1383px 1336px #fff, 661px 328px #fff, 391px 1721px #fff, 1760px 1105px #fff,
    1956px 834px #fff, 1720px 1693px #fff, 1650px 1622px #fff,
    1124px 1484px #fff, 44px 116px #fff, 30px 1302px #fff, 1859px 383px #fff,
    1495px 1923px #fff, 873px 696px #fff, 1259px 1475px #fff, 1924px 1612px #fff,
    60px 987px #fff, 888px 189px #fff, 1017px 495px #fff, 720px 126px #fff,
    1615px 1001px #fff, 1753px 1647px #fff, 1976px 900px #fff, 1605px 11px #fff,
    1473px 1816px #fff, 294px 725px #fff, 285px 1917px #fff, 1020px 1101px #fff,
    1057px 192px #fff, 188px 1045px #fff, 1999px 1608px #fff, 1869px 1229px #fff,
    1085px 1385px #fff, 1970px 916px #fff, 1639px 473px #fff, 1739px 1332px #fff,
    1905px 537px #fff, 856px 1060px #fff, 1397px 143px #fff, 661px 1768px #fff,
    740px 549px #fff, 1970px 1993px #fff, 1638px 1991px #fff, 110px 158px #fff,
    460px 882px #fff, 1598px 1837px #fff, 993px 1501px #fff, 77px 1987px #fff,
    1128px 90px #fff, 274px 1349px #fff, 494px 707px #fff, 61px 278px #fff,
    1095px 1721px #fff, 378px 1781px #fff, 375px 1804px #fff, 1939px 764px #fff,
    117px 179px #fff, 1747px 1346px #fff, 103px 552px #fff, 226px 81px #fff,
    995px 356px #fff, 780px 1570px #fff, 406px 1276px #fff, 1657px 1693px #fff,
    1279px 149px #fff, 1736px 1473px #fff, 1860px 256px #fff, 534px 1089px #fff,
    1167px 1358px #fff, 1213px 1841px #fff, 759px 291px #fff, 547px 549px #fff,
    1801px 94px #fff, 209px 759px #fff, 250px 407px #fff, 694px 1974px #fff,
    957px 1834px #fff, 100px 249px #fff, 1568px 1921px #fff, 1204px 500px #fff,
    1681px 1668px #fff, 180px 1041px #fff, 799px 150px #fff, 1357px 614px #fff,
    1972px 850px #fff, 1467px 1736px #fff, 1270px 619px #fff, 561px 1842px #fff,
    1823px 872px #fff, 747px 689px #fff, 1568px 1792px #fff, 350px 1961px #fff,
    770px 784px #fff, 1961px 490px #fff, 572px 1602px #fff, 1197px 392px #fff,
    1809px 1324px #fff, 1036px 357px #fff, 1088px 1829px #fff, 557px 1250px #fff,
    1862px 1806px #fff, 660px 1421px #fff, 618px 1805px #fff, 1247px 1661px #fff,
    195px 329px #fff, 1679px 130px #fff, 899px 740px #fff, 674px 1817px #fff,
    978px 476px #fff, 1633px 1060px #fff, 1852px 1714px #fff, 1632px 1288px #fff,
    1518px 186px #fff, 1234px 119px #fff, 1697px 830px #fff, 1875px 995px #fff,
    1622px 95px #fff, 954px 849px #fff, 1663px 243px #fff, 1650px 386px #fff,
    583px 172px #fff, 1956px 1219px #fff, 1419px 1918px #fff, 1396px 1905px #fff,
    955px 889px #fff, 1914px 1504px #fff, 646px 1650px #fff, 1525px 741px #fff,
    211px 530px #fff, 378px 73px #fff, 1762px 1690px #fff, 1842px 1137px #fff,
    1506px 1781px #fff, 1350px 316px #fff, 1187px 566px #fff, 362px 395px #fff,
    925px 1974px #fff, 1773px 1079px #fff, 225px 101px #fff, 1022px 1417px #fff,
    903px 1883px #fff, 1116px 387px #fff, 1156px 1553px #fff, 1612px 1839px #fff,
    814px 1137px #fff, 400px 1592px #fff, 555px 759px #fff, 166px 559px #fff,
    1070px 976px #fff, 927px 373px #fff, 1974px 297px #fff, 109px 1848px #fff,
    1551px 1863px #fff, 525px 79px #fff, 590px 1615px #fff, 803px 1706px #fff,
    632px 301px #fff, 1123px 1107px #fff, 380px 833px #fff, 42px 533px #fff,
    468px 937px #fff, 1118px 1436px #fff, 170px 1244px #fff, 7px 645px #fff,
    1192px 1186px #fff, 1378px 220px #fff, 213px 1215px #fff, 1478px 1606px #fff,
    1696px 1710px #fff, 1784px 630px #fff, 1506px 433px #fff, 552px 1317px #fff,
    1740px 1021px #fff, 1591px 603px #fff, 1024px 93px #fff, 299px 774px #fff,
    793px 1566px #fff, 1897px 383px #fff, 565px 1425px #fff, 411px 1970px #fff,
    514px 1702px #fff, 789px 899px #fff, 673px 439px #fff, 652px 35px #fff,
    709px 238px #fff, 421px 460px #fff, 1528px 1037px #fff, 1949px 543px #fff,
    34px 1619px #fff, 1800px 134px #fff, 1811px 1093px #fff, 642px 1176px #fff,
    1878px 861px #fff, 874px 1071px #fff, 1652px 233px #fff, 1513px 991px #fff,
    687px 405px #fff, 1736px 175px #fff, 1979px 905px #fff, 866px 145px #fff,
    1936px 1945px #fff, 712px 932px #fff, 1248px 381px #fff, 1736px 1583px #fff,
    1463px 46px #fff, 742px 1205px #fff, 1867px 1119px #fff, 768px 141px #fff,
    1393px 415px #fff, 1386px 1316px #fff, 1737px 1115px #fff,
    1989px 1218px #fff, 1199px 1187px #fff, 40px 1464px #fff, 642px 813px #fff,
    1432px 1622px #fff, 939px 971px #fff, 1435px 1449px #fff, 1060px 1868px #fff,
    1959px 706px #fff, 123px 1754px #fff, 2000px 1057px #fff, 172px 1713px #fff,
    829px 853px #fff, 291px 806px #fff, 1701px 1224px #fff, 1027px 662px #fff,
    528px 53px #fff, 1797px 416px #fff, 764px 91px #fff, 1814px 1122px #fff,
    1268px 1828px #fff, 189px 758px #fff, 1876px 1697px #fff, 188px 1278px #fff,
    311px 319px #fff, 539px 35px #fff, 1280px 1638px #fff, 740px 1498px #fff,
    1078px 1121px #fff, 1314px 373px #fff, 1210px 1804px #fff, 1584px 799px #fff,
    93px 23px #fff, 56px 109px #fff, 1975px 649px #fff, 1053px 1617px #fff,
    1020px 1403px #fff, 873px 1106px #fff, 1066px 1149px #fff, 1489px 943px #fff,
    950px 564px #fff, 623px 1573px #fff, 1233px 49px #fff, 1319px 965px #fff,
    1432px 1135px #fff, 232px 449px #fff, 1657px 1558px #fff, 872px 1914px #fff,
    1759px 1710px #fff, 1958px 226px #fff, 1068px 298px #fff, 798px 97px #fff,
    277px 727px #fff, 1555px 368px #fff, 1689px 48px #fff, 203px 1983px #fff,
    218px 938px #fff, 1221px 1200px #fff, 541px 1912px #fff, 1894px 551px #fff,
    331px 28px #fff, 177px 585px #fff, 754px 317px #fff, 788px 713px #fff,
    1172px 1380px #fff, 1804px 75px #fff, 1686px 604px #fff, 592px 552px #fff,
    1099px 979px #fff, 1582px 1358px #fff, 676px 1352px #fff, 1413px 913px #fff,
    1079px 1423px #fff, 844px 1181px #fff, 871px 219px #fff, 1255px 1395px #fff,
    614px 437px #fff, 1946px 254px #fff, 659px 1417px #fff, 912px 118px #fff,
    504px 1043px #fff, 1579px 1544px #fff, 1316px 1392px #fff,
    1367px 1516px #fff, 1341px 1198px #fff, 443px 764px #fff, 1470px 1686px #fff,
    622px 1248px #fff, 366px 773px #fff, 889px 441px #fff, 1366px 1980px #fff,
    1422px 503px #fff, 474px 184px #fff, 719px 424px #fff, 1399px 581px #fff,
    973px 598px #fff, 441px 1658px #fff, 327px 1157px #fff, 1637px 972px #fff,
    248px 1499px #fff, 1951px 214px #fff, 1410px 846px #fff, 278px 1066px #fff,
    1941px 86px #fff, 16px 1235px #fff, 1556px 105px #fff, 1261px 931px #fff,
    868px 76px #fff, 745px 1916px #fff, 1096px 1593px #fff, 724px 1082px #fff,
    1988px 63px #fff, 1167px 16px #fff, 146px 381px #fff, 485px 76px #fff,
    1191px 340px #fff, 1252px 78px #fff, 1166px 137px #fff, 1664px 1647px #fff,
    268px 1607px #fff, 1178px 618px #fff, 1202px 1521px #fff, 1882px 1533px #fff,
    141px 1425px #fff, 297px 448px #fff, 789px 86px #fff, 176px 1649px #fff,
    918px 1800px #fff, 448px 1703px #fff, 487px 765px #fff, 386px 893px #fff,
    79px 1074px #fff, 1869px 1961px #fff, 1947px 437px #fff, 565px 8px #fff,
    962px 807px #fff, 550px 1607px #fff, 167px 144px #fff, 453px 1445px #fff,
    471px 274px #fff, 1952px 987px #fff, 1202px 1708px #fff, 1369px 815px #fff,
    630px 832px #fff, 497px 356px #fff, 316px 245px #fff, 1395px 213px #fff,
    1271px 119px #fff, 1327px 1868px #fff, 143px 1251px #fff, 272px 187px #fff,
    483px 626px #fff, 742px 1475px #fff, 1765px 1886px #fff, 1864px 575px #fff,
    645px 1513px #fff, 270px 509px #fff, 1831px 349px #fff, 1223px 1781px #fff,
    1325px 1386px #fff, 694px 39px #fff, 1135px 230px #fff, 1601px 492px #fff,
    1454px 775px #fff, 103px 1335px #fff, 708px 1351px #fff, 424px 965px #fff,
    158px 357px #fff, 1080px 261px #fff, 1635px 712px #fff, 1771px 1018px #fff,
    1763px 1696px #fff, 895px 624px #fff, 16px 849px #fff, 813px 1295px #fff,
    1659px 1870px #fff, 1960px 88px #fff, 1396px 22px #fff, 1911px 849px #fff,
    1689px 1748px #fff, 1135px 1532px #fff, 471px 1002px #fff, 670px 255px #fff,
    829px 824px #fff, 1610px 1641px #fff, 832px 1292px #fff, 1649px 1306px #fff,
    526px 389px #fff, 1364px 1744px #fff, 1111px 1282px #fff, 26px 1893px #fff,
    598px 684px #fff, 394px 1836px #fff, 1505px 528px #fff, 1844px 1613px #fff,
    1392px 1124px #fff, 1124px 1138px #fff, 976px 1867px #fff, 1691px 466px #fff,
    646px 542px #fff, 1779px 1023px #fff, 1341px 740px #fff, 152px 1094px #fff,
    1245px 517px #fff, 1068px 223px #fff, 396px 287px #fff, 1659px 216px #fff,
    1182px 163px #fff, 652px 259px #fff, 1088px 1141px #fff, 1893px 332px #fff,
    465px 923px #fff, 979px 832px #fff, 965px 221px #fff, 111px 17px #fff,
    191px 1539px #fff, 1608px 779px #fff, 675px 1329px #fff, 168px 921px #fff,
    408px 1202px #fff, 1728px 1522px #fff, 517px 376px #fff, 265px 1994px #fff,
    967px 1630px #fff, 87px 1261px #fff, 1094px 1184px #fff, 680px 1502px #fff,
    918px 1318px #fff, 1460px 1826px #fff;
  animation: animStar 50s linear infinite;
}

#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1086px 1565px #fff, 1659px 1071px #fff, 712px 75px #fff,
    922px 951px #fff, 587px 159px #fff, 1447px 854px #fff, 1201px 1434px #fff,
    1123px 121px #fff, 619px 296px #fff, 1159px 1676px #fff, 1396px 1890px #fff,
    94px 1766px #fff, 1056px 1781px #fff, 1268px 1196px #fff, 1547px 417px #fff,
    1553px 1777px #fff, 1286px 1442px #fff, 1107px 253px #fff, 1215px 789px #fff,
    994px 1984px #fff, 160px 963px #fff, 836px 1133px #fff, 257px 833px #fff,
    1851px 303px #fff, 322px 1899px #fff, 14px 811px #fff, 932px 75px #fff,
    520px 308px #fff, 20px 1989px #fff, 1680px 981px #fff, 1712px 1738px #fff,
    2px 1135px #fff, 1002px 186px #fff, 1186px 68px #fff, 239px 403px #fff,
    1857px 568px #fff, 1069px 1724px #fff, 1621px 1923px #fff, 500px 1703px #fff,
    1967px 30px #fff, 1320px 1601px #fff, 1032px 1628px #fff, 296px 1767px #fff,
    87px 624px #fff, 1355px 1149px #fff, 532px 1010px #fff, 639px 1493px #fff,
    1127px 192px #fff, 455px 1873px #fff, 1531px 1159px #fff, 1118px 1437px #fff,
    397px 1487px #fff, 1469px 50px #fff, 1090px 1893px #fff, 1985px 1356px #fff,
    1672px 829px #fff, 562px 1007px #fff, 1422px 219px #fff, 1428px 1106px #fff,
    1819px 1077px #fff, 1632px 710px #fff, 942px 1510px #fff, 1105px 1126px #fff,
    1706px 279px #fff, 1820px 33px #fff, 1470px 1684px #fff, 643px 389px #fff,
    854px 1445px #fff, 521px 464px #fff, 1284px 1142px #fff, 1837px 1553px #fff,
    588px 864px #fff, 1575px 1960px #fff, 1111px 1193px #fff, 547px 1540px #fff,
    257px 1899px #fff, 1199px 891px #fff, 38px 1201px #fff, 400px 252px #fff,
    1190px 1083px #fff, 1261px 1810px #fff, 1341px 1508px #fff,
    743px 1617px #fff, 535px 1333px #fff, 1121px 1921px #fff, 1762px 593px #fff,
    294px 1446px #fff, 890px 768px #fff, 148px 1858px #fff, 592px 1988px #fff,
    1130px 1284px #fff, 1034px 1019px #fff, 878px 1073px #fff,
    1763px 1798px #fff, 767px 498px #fff, 1394px 1581px #fff, 1300px 139px #fff,
    158px 1634px #fff, 716px 23px #fff, 580px 684px #fff, 962px 208px #fff,
    533px 1086px #fff, 1109px 1861px #fff, 1266px 698px #fff, 1799px 769px #fff,
    745px 1602px #fff, 494px 214px #fff, 559px 1574px #fff, 1869px 860px #fff,
    1784px 1439px #fff, 1249px 1747px #fff, 1238px 239px #fff, 26px 1351px #fff,
    1933px 1031px #fff, 1837px 1807px #fff, 789px 80px #fff, 69px 705px #fff,
    1634px 528px #fff, 1208px 1987px #fff, 1242px 828px #fff, 825px 1181px #fff,
    48px 598px #fff, 720px 931px #fff, 1002px 656px #fff, 202px 767px #fff,
    20px 1741px #fff, 468px 1764px #fff, 1167px 1796px #fff, 590px 655px #fff,
    1010px 1856px #fff, 30px 908px #fff, 678px 1268px #fff, 1573px 761px #fff,
    1404px 156px #fff, 471px 1327px #fff, 1432px 43px #fff, 285px 721px #fff,
    797px 1188px #fff, 1696px 373px #fff, 551px 1307px #fff, 363px 687px #fff,
    380px 637px #fff, 1221px 1806px #fff, 1788px 476px #fff, 1382px 1590px #fff,
    1511px 758px #fff, 1900px 718px #fff, 354px 640px #fff, 1364px 981px #fff,
    1733px 416px #fff, 924px 1835px #fff, 1716px 822px #fff, 1233px 1519px #fff,
    892px 624px #fff, 814px 1352px #fff, 1727px 1840px #fff, 745px 657px #fff,
    382px 174px #fff, 54px 623px #fff, 973px 537px #fff, 1682px 331px #fff,
    1812px 1370px #fff, 730px 430px #fff, 979px 313px #fff, 559px 1670px #fff,
    1360px 922px #fff, 1878px 560px #fff, 543px 1001px #fff, 565px 766px #fff,
    452px 94px #fff, 694px 645px #fff, 419px 387px #fff, 218px 63px #fff,
    1595px 1456px #fff, 868px 831px #fff, 873px 273px #fff, 1318px 903px #fff,
    1886px 940px #fff, 1953px 922px #fff, 624px 1753px #fff, 1200px 549px #fff,
    1239px 1890px #fff, 1757px 1359px #fff, 1250px 526px #fff, 250px 1041px #fff,
    1509px 1406px #fff, 823px 638px #fff, 448px 957px #fff, 596px 376px #fff,
    1884px 1505px #fff, 978px 214px #fff, 557px 925px #fff, 810px 1979px #fff,
    58px 1119px #fff, 1718px 1841px #fff, 1847px 1992px #fff, 501px 697px #fff,
    1381px 1471px #fff, 576px 1103px #fff, 1911px 1947px #fff,
    1957px 1081px #fff, 1705px 392px #fff, 700px 508px #fff, 1700px 676px #fff,
    1198px 672px #fff, 1121px 760px #fff, 378px 1405px #fff, 1574px 1885px #fff,
    1691px 1695px #fff, 1581px 1943px #fff, 1024px 1927px #fff,
    1455px 924px #fff, 1263px 799px #fff, 290px 1628px #fff, 506px 1774px #fff,
    1656px 511px #fff, 37px 375px #fff, 1255px 1470px #fff, 1757px 407px #fff,
    1665px 493px #fff, 969px 1649px #fff, 1204px 378px #fff, 1040px 579px #fff,
    1149px 282px #fff, 1558px 302px #fff, 1634px 792px #fff, 1962px 1730px #fff,
    984px 1611px #fff, 1327px 1692px #fff, 1443px 1316px #fff, 971px 1668px #fff,
    1043px 208px #fff, 310px 195px #fff, 957px 1999px #fff, 1808px 157px #fff,
    1179px 1917px #fff, 1791px 1117px #fff, 1937px 1871px #fff,
    620px 1951px #fff, 1730px 979px #fff, 728px 846px #fff, 1786px 721px #fff,
    863px 694px #fff, 64px 420px #fff, 943px 311px #fff, 1121px 1302px #fff,
    251px 1055px #fff, 1350px 391px #fff, 1704px 1621px #fff, 893px 1403px #fff,
    1188px 1747px #fff, 1822px 1167px #fff, 1314px 1099px #fff,
    1311px 515px #fff, 1791px 1622px #fff, 849px 1679px #fff, 94px 1967px #fff,
    1800px 199px #fff, 512px 881px #fff, 939px 19px #fff, 1776px 1138px #fff,
    1383px 1336px #fff, 661px 328px #fff, 391px 1721px #fff, 1760px 1105px #fff,
    1956px 834px #fff, 1720px 1693px #fff, 1650px 1622px #fff,
    1124px 1484px #fff, 44px 116px #fff, 30px 1302px #fff, 1859px 383px #fff,
    1495px 1923px #fff, 873px 696px #fff, 1259px 1475px #fff, 1924px 1612px #fff,
    60px 987px #fff, 888px 189px #fff, 1017px 495px #fff, 720px 126px #fff,
    1615px 1001px #fff, 1753px 1647px #fff, 1976px 900px #fff, 1605px 11px #fff,
    1473px 1816px #fff, 294px 725px #fff, 285px 1917px #fff, 1020px 1101px #fff,
    1057px 192px #fff, 188px 1045px #fff, 1999px 1608px #fff, 1869px 1229px #fff,
    1085px 1385px #fff, 1970px 916px #fff, 1639px 473px #fff, 1739px 1332px #fff,
    1905px 537px #fff, 856px 1060px #fff, 1397px 143px #fff, 661px 1768px #fff,
    740px 549px #fff, 1970px 1993px #fff, 1638px 1991px #fff, 110px 158px #fff,
    460px 882px #fff, 1598px 1837px #fff, 993px 1501px #fff, 77px 1987px #fff,
    1128px 90px #fff, 274px 1349px #fff, 494px 707px #fff, 61px 278px #fff,
    1095px 1721px #fff, 378px 1781px #fff, 375px 1804px #fff, 1939px 764px #fff,
    117px 179px #fff, 1747px 1346px #fff, 103px 552px #fff, 226px 81px #fff,
    995px 356px #fff, 780px 1570px #fff, 406px 1276px #fff, 1657px 1693px #fff,
    1279px 149px #fff, 1736px 1473px #fff, 1860px 256px #fff, 534px 1089px #fff,
    1167px 1358px #fff, 1213px 1841px #fff, 759px 291px #fff, 547px 549px #fff,
    1801px 94px #fff, 209px 759px #fff, 250px 407px #fff, 694px 1974px #fff,
    957px 1834px #fff, 100px 249px #fff, 1568px 1921px #fff, 1204px 500px #fff,
    1681px 1668px #fff, 180px 1041px #fff, 799px 150px #fff, 1357px 614px #fff,
    1972px 850px #fff, 1467px 1736px #fff, 1270px 619px #fff, 561px 1842px #fff,
    1823px 872px #fff, 747px 689px #fff, 1568px 1792px #fff, 350px 1961px #fff,
    770px 784px #fff, 1961px 490px #fff, 572px 1602px #fff, 1197px 392px #fff,
    1809px 1324px #fff, 1036px 357px #fff, 1088px 1829px #fff, 557px 1250px #fff,
    1862px 1806px #fff, 660px 1421px #fff, 618px 1805px #fff, 1247px 1661px #fff,
    195px 329px #fff, 1679px 130px #fff, 899px 740px #fff, 674px 1817px #fff,
    978px 476px #fff, 1633px 1060px #fff, 1852px 1714px #fff, 1632px 1288px #fff,
    1518px 186px #fff, 1234px 119px #fff, 1697px 830px #fff, 1875px 995px #fff,
    1622px 95px #fff, 954px 849px #fff, 1663px 243px #fff, 1650px 386px #fff,
    583px 172px #fff, 1956px 1219px #fff, 1419px 1918px #fff, 1396px 1905px #fff,
    955px 889px #fff, 1914px 1504px #fff, 646px 1650px #fff, 1525px 741px #fff,
    211px 530px #fff, 378px 73px #fff, 1762px 1690px #fff, 1842px 1137px #fff,
    1506px 1781px #fff, 1350px 316px #fff, 1187px 566px #fff, 362px 395px #fff,
    925px 1974px #fff, 1773px 1079px #fff, 225px 101px #fff, 1022px 1417px #fff,
    903px 1883px #fff, 1116px 387px #fff, 1156px 1553px #fff, 1612px 1839px #fff,
    814px 1137px #fff, 400px 1592px #fff, 555px 759px #fff, 166px 559px #fff,
    1070px 976px #fff, 927px 373px #fff, 1974px 297px #fff, 109px 1848px #fff,
    1551px 1863px #fff, 525px 79px #fff, 590px 1615px #fff, 803px 1706px #fff,
    632px 301px #fff, 1123px 1107px #fff, 380px 833px #fff, 42px 533px #fff,
    468px 937px #fff, 1118px 1436px #fff, 170px 1244px #fff, 7px 645px #fff,
    1192px 1186px #fff, 1378px 220px #fff, 213px 1215px #fff, 1478px 1606px #fff,
    1696px 1710px #fff, 1784px 630px #fff, 1506px 433px #fff, 552px 1317px #fff,
    1740px 1021px #fff, 1591px 603px #fff, 1024px 93px #fff, 299px 774px #fff,
    793px 1566px #fff, 1897px 383px #fff, 565px 1425px #fff, 411px 1970px #fff,
    514px 1702px #fff, 789px 899px #fff, 673px 439px #fff, 652px 35px #fff,
    709px 238px #fff, 421px 460px #fff, 1528px 1037px #fff, 1949px 543px #fff,
    34px 1619px #fff, 1800px 134px #fff, 1811px 1093px #fff, 642px 1176px #fff,
    1878px 861px #fff, 874px 1071px #fff, 1652px 233px #fff, 1513px 991px #fff,
    687px 405px #fff, 1736px 175px #fff, 1979px 905px #fff, 866px 145px #fff,
    1936px 1945px #fff, 712px 932px #fff, 1248px 381px #fff, 1736px 1583px #fff,
    1463px 46px #fff, 742px 1205px #fff, 1867px 1119px #fff, 768px 141px #fff,
    1393px 415px #fff, 1386px 1316px #fff, 1737px 1115px #fff,
    1989px 1218px #fff, 1199px 1187px #fff, 40px 1464px #fff, 642px 813px #fff,
    1432px 1622px #fff, 939px 971px #fff, 1435px 1449px #fff, 1060px 1868px #fff,
    1959px 706px #fff, 123px 1754px #fff, 2000px 1057px #fff, 172px 1713px #fff,
    829px 853px #fff, 291px 806px #fff, 1701px 1224px #fff, 1027px 662px #fff,
    528px 53px #fff, 1797px 416px #fff, 764px 91px #fff, 1814px 1122px #fff,
    1268px 1828px #fff, 189px 758px #fff, 1876px 1697px #fff, 188px 1278px #fff,
    311px 319px #fff, 539px 35px #fff, 1280px 1638px #fff, 740px 1498px #fff,
    1078px 1121px #fff, 1314px 373px #fff, 1210px 1804px #fff, 1584px 799px #fff,
    93px 23px #fff, 56px 109px #fff, 1975px 649px #fff, 1053px 1617px #fff,
    1020px 1403px #fff, 873px 1106px #fff, 1066px 1149px #fff, 1489px 943px #fff,
    950px 564px #fff, 623px 1573px #fff, 1233px 49px #fff, 1319px 965px #fff,
    1432px 1135px #fff, 232px 449px #fff, 1657px 1558px #fff, 872px 1914px #fff,
    1759px 1710px #fff, 1958px 226px #fff, 1068px 298px #fff, 798px 97px #fff,
    277px 727px #fff, 1555px 368px #fff, 1689px 48px #fff, 203px 1983px #fff,
    218px 938px #fff, 1221px 1200px #fff, 541px 1912px #fff, 1894px 551px #fff,
    331px 28px #fff, 177px 585px #fff, 754px 317px #fff, 788px 713px #fff,
    1172px 1380px #fff, 1804px 75px #fff, 1686px 604px #fff, 592px 552px #fff,
    1099px 979px #fff, 1582px 1358px #fff, 676px 1352px #fff, 1413px 913px #fff,
    1079px 1423px #fff, 844px 1181px #fff, 871px 219px #fff, 1255px 1395px #fff,
    614px 437px #fff, 1946px 254px #fff, 659px 1417px #fff, 912px 118px #fff,
    504px 1043px #fff, 1579px 1544px #fff, 1316px 1392px #fff,
    1367px 1516px #fff, 1341px 1198px #fff, 443px 764px #fff, 1470px 1686px #fff,
    622px 1248px #fff, 366px 773px #fff, 889px 441px #fff, 1366px 1980px #fff,
    1422px 503px #fff, 474px 184px #fff, 719px 424px #fff, 1399px 581px #fff,
    973px 598px #fff, 441px 1658px #fff, 327px 1157px #fff, 1637px 972px #fff,
    248px 1499px #fff, 1951px 214px #fff, 1410px 846px #fff, 278px 1066px #fff,
    1941px 86px #fff, 16px 1235px #fff, 1556px 105px #fff, 1261px 931px #fff,
    868px 76px #fff, 745px 1916px #fff, 1096px 1593px #fff, 724px 1082px #fff,
    1988px 63px #fff, 1167px 16px #fff, 146px 381px #fff, 485px 76px #fff,
    1191px 340px #fff, 1252px 78px #fff, 1166px 137px #fff, 1664px 1647px #fff,
    268px 1607px #fff, 1178px 618px #fff, 1202px 1521px #fff, 1882px 1533px #fff,
    141px 1425px #fff, 297px 448px #fff, 789px 86px #fff, 176px 1649px #fff,
    918px 1800px #fff, 448px 1703px #fff, 487px 765px #fff, 386px 893px #fff,
    79px 1074px #fff, 1869px 1961px #fff, 1947px 437px #fff, 565px 8px #fff,
    962px 807px #fff, 550px 1607px #fff, 167px 144px #fff, 453px 1445px #fff,
    471px 274px #fff, 1952px 987px #fff, 1202px 1708px #fff, 1369px 815px #fff,
    630px 832px #fff, 497px 356px #fff, 316px 245px #fff, 1395px 213px #fff,
    1271px 119px #fff, 1327px 1868px #fff, 143px 1251px #fff, 272px 187px #fff,
    483px 626px #fff, 742px 1475px #fff, 1765px 1886px #fff, 1864px 575px #fff,
    645px 1513px #fff, 270px 509px #fff, 1831px 349px #fff, 1223px 1781px #fff,
    1325px 1386px #fff, 694px 39px #fff, 1135px 230px #fff, 1601px 492px #fff,
    1454px 775px #fff, 103px 1335px #fff, 708px 1351px #fff, 424px 965px #fff,
    158px 357px #fff, 1080px 261px #fff, 1635px 712px #fff, 1771px 1018px #fff,
    1763px 1696px #fff, 895px 624px #fff, 16px 849px #fff, 813px 1295px #fff,
    1659px 1870px #fff, 1960px 88px #fff, 1396px 22px #fff, 1911px 849px #fff,
    1689px 1748px #fff, 1135px 1532px #fff, 471px 1002px #fff, 670px 255px #fff,
    829px 824px #fff, 1610px 1641px #fff, 832px 1292px #fff, 1649px 1306px #fff,
    526px 389px #fff, 1364px 1744px #fff, 1111px 1282px #fff, 26px 1893px #fff,
    598px 684px #fff, 394px 1836px #fff, 1505px 528px #fff, 1844px 1613px #fff,
    1392px 1124px #fff, 1124px 1138px #fff, 976px 1867px #fff, 1691px 466px #fff,
    646px 542px #fff, 1779px 1023px #fff, 1341px 740px #fff, 152px 1094px #fff,
    1245px 517px #fff, 1068px 223px #fff, 396px 287px #fff, 1659px 216px #fff,
    1182px 163px #fff, 652px 259px #fff, 1088px 1141px #fff, 1893px 332px #fff,
    465px 923px #fff, 979px 832px #fff, 965px 221px #fff, 111px 17px #fff,
    191px 1539px #fff, 1608px 779px #fff, 675px 1329px #fff, 168px 921px #fff,
    408px 1202px #fff, 1728px 1522px #fff, 517px 376px #fff, 265px 1994px #fff,
    967px 1630px #fff, 87px 1261px #fff, 1094px 1184px #fff, 680px 1502px #fff,
    918px 1318px #fff, 1460px 1826px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 319px 373px #fff, 691px 56px #fff, 608px 696px #fff,
    1060px 1436px #fff, 1614px 1397px #fff, 1409px 1753px #fff,
    1372px 584px #fff, 1668px 1173px #fff, 759px 1217px #fff, 1120px 19px #fff,
    518px 600px #fff, 1046px 564px #fff, 577px 1424px #fff, 447px 239px #fff,
    349px 1155px #fff, 1013px 149px #fff, 1392px 1203px #fff, 1616px 46px #fff,
    1905px 1440px #fff, 554px 1892px #fff, 959px 962px #fff, 750px 925px #fff,
    1075px 87px #fff, 762px 1212px #fff, 634px 1837px #fff, 1885px 1707px #fff,
    1577px 1551px #fff, 1844px 233px #fff, 1934px 1614px #fff, 980px 1481px #fff,
    1939px 535px #fff, 1263px 23px #fff, 586px 1996px #fff, 146px 600px #fff,
    1898px 1466px #fff, 1516px 34px #fff, 1793px 706px #fff, 741px 525px #fff,
    1390px 1945px #fff, 1321px 267px #fff, 108px 227px #fff, 1712px 1264px #fff,
    784px 815px #fff, 1938px 185px #fff, 1100px 1293px #fff, 28px 1499px #fff,
    418px 173px #fff, 254px 779px #fff, 278px 411px #fff, 1691px 1329px #fff,
    1520px 1338px #fff, 1884px 473px #fff, 597px 729px #fff, 77px 1771px #fff,
    1209px 1537px #fff, 141px 703px #fff, 1254px 1670px #fff, 1591px 232px #fff,
    347px 1654px #fff, 718px 1558px #fff, 808px 1422px #fff, 803px 1152px #fff,
    1771px 100px #fff, 806px 422px #fff, 547px 129px #fff, 1675px 143px #fff,
    829px 1398px #fff, 542px 1947px #fff, 1960px 1039px #fff, 1398px 587px #fff,
    631px 1832px #fff, 1856px 1278px #fff, 727px 758px #fff, 341px 1705px #fff,
    1277px 1793px #fff, 768px 1015px #fff, 73px 1471px #fff, 1320px 1043px #fff,
    1953px 833px #fff, 650px 800px #fff, 223px 82px #fff, 1081px 1852px #fff,
    1430px 746px #fff, 1700px 1353px #fff, 281px 779px #fff, 1794px 595px #fff,
    425px 1644px #fff, 1370px 1441px #fff, 1142px 1999px #fff, 161px 1370px #fff,
    122px 1746px #fff, 486px 1614px #fff, 240px 1924px #fff, 878px 73px #fff,
    834px 1685px #fff, 1775px 1846px #fff, 37px 50px #fff, 1115px 1874px #fff,
    20px 1980px #fff, 262px 1345px #fff, 1588px 782px #fff, 467px 1963px #fff,
    212px 243px #fff, 1515px 249px #fff, 899px 1402px #fff, 462px 868px #fff,
    583px 206px #fff, 1400px 234px #fff, 584px 1893px #fff, 1363px 1493px #fff,
    1373px 910px #fff, 1813px 193px #fff, 659px 711px #fff, 1907px 1904px #fff,
    1002px 569px #fff, 185px 1931px #fff, 1747px 111px #fff, 1683px 1629px #fff,
    556px 1157px #fff, 1353px 374px #fff, 960px 1670px #fff, 1409px 433px #fff,
    785px 86px #fff, 1400px 1070px #fff, 245px 852px #fff, 872px 1837px #fff,
    1118px 1915px #fff, 1658px 408px #fff, 1858px 1286px #fff, 1005px 210px #fff,
    590px 1990px #fff, 1771px 926px #fff, 1475px 1092px #fff, 75px 1320px #fff,
    998px 604px #fff, 824px 63px #fff, 48px 1587px #fff, 144px 1611px #fff,
    1541px 224px #fff, 1672px 840px #fff, 1205px 301px #fff, 1408px 1091px #fff,
    557px 1937px #fff, 44px 523px #fff, 1076px 1877px #fff, 792px 1750px #fff,
    1277px 147px #fff, 1822px 926px #fff, 536px 1598px #fff, 181px 737px #fff,
    424px 1864px #fff, 1836px 1911px #fff, 68px 1613px #fff, 1608px 388px #fff,
    1048px 1333px #fff, 1040px 521px #fff, 1720px 684px #fff, 497px 1958px #fff,
    687px 999px #fff, 1460px 674px #fff, 1505px 115px #fff, 1216px 1437px #fff,
    1450px 1769px #fff, 55px 1817px #fff, 689px 1766px #fff, 462px 667px #fff,
    1845px 1255px #fff, 366px 147px #fff, 1432px 772px #fff, 1112px 183px #fff,
    467px 1905px #fff, 921px 403px #fff, 772px 1337px #fff, 1311px 372px #fff,
    751px 979px #fff, 1751px 743px #fff, 1801px 441px #fff, 294px 833px #fff,
    352px 1373px #fff, 655px 1810px #fff, 572px 1839px #fff, 1758px 298px #fff,
    1140px 570px #fff, 167px 1862px #fff, 1970px 1751px #fff, 1059px 1714px #fff,
    206px 773px #fff, 894px 1135px #fff, 751px 399px #fff, 1654px 995px #fff,
    603px 834px #fff, 493px 369px #fff, 757px 302px #fff, 1457px 751px #fff,
    116px 530px #fff, 780px 192px #fff, 547px 1494px #fff, 334px 1920px #fff,
    1588px 290px #fff, 295px 1657px #fff;
  animation: animStar 100s linear infinite;
}

#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 319px 373px #fff, 691px 56px #fff, 608px 696px #fff,
    1060px 1436px #fff, 1614px 1397px #fff, 1409px 1753px #fff,
    1372px 584px #fff, 1668px 1173px #fff, 759px 1217px #fff, 1120px 19px #fff,
    518px 600px #fff, 1046px 564px #fff, 577px 1424px #fff, 447px 239px #fff,
    349px 1155px #fff, 1013px 149px #fff, 1392px 1203px #fff, 1616px 46px #fff,
    1905px 1440px #fff, 554px 1892px #fff, 959px 962px #fff, 750px 925px #fff,
    1075px 87px #fff, 762px 1212px #fff, 634px 1837px #fff, 1885px 1707px #fff,
    1577px 1551px #fff, 1844px 233px #fff, 1934px 1614px #fff, 980px 1481px #fff,
    1939px 535px #fff, 1263px 23px #fff, 586px 1996px #fff, 146px 600px #fff,
    1898px 1466px #fff, 1516px 34px #fff, 1793px 706px #fff, 741px 525px #fff,
    1390px 1945px #fff, 1321px 267px #fff, 108px 227px #fff, 1712px 1264px #fff,
    784px 815px #fff, 1938px 185px #fff, 1100px 1293px #fff, 28px 1499px #fff,
    418px 173px #fff, 254px 779px #fff, 278px 411px #fff, 1691px 1329px #fff,
    1520px 1338px #fff, 1884px 473px #fff, 597px 729px #fff, 77px 1771px #fff,
    1209px 1537px #fff, 141px 703px #fff, 1254px 1670px #fff, 1591px 232px #fff,
    347px 1654px #fff, 718px 1558px #fff, 808px 1422px #fff, 803px 1152px #fff,
    1771px 100px #fff, 806px 422px #fff, 547px 129px #fff, 1675px 143px #fff,
    829px 1398px #fff, 542px 1947px #fff, 1960px 1039px #fff, 1398px 587px #fff,
    631px 1832px #fff, 1856px 1278px #fff, 727px 758px #fff, 341px 1705px #fff,
    1277px 1793px #fff, 768px 1015px #fff, 73px 1471px #fff, 1320px 1043px #fff,
    1953px 833px #fff, 650px 800px #fff, 223px 82px #fff, 1081px 1852px #fff,
    1430px 746px #fff, 1700px 1353px #fff, 281px 779px #fff, 1794px 595px #fff,
    425px 1644px #fff, 1370px 1441px #fff, 1142px 1999px #fff, 161px 1370px #fff,
    122px 1746px #fff, 486px 1614px #fff, 240px 1924px #fff, 878px 73px #fff,
    834px 1685px #fff, 1775px 1846px #fff, 37px 50px #fff, 1115px 1874px #fff,
    20px 1980px #fff, 262px 1345px #fff, 1588px 782px #fff, 467px 1963px #fff,
    212px 243px #fff, 1515px 249px #fff, 899px 1402px #fff, 462px 868px #fff,
    583px 206px #fff, 1400px 234px #fff, 584px 1893px #fff, 1363px 1493px #fff,
    1373px 910px #fff, 1813px 193px #fff, 659px 711px #fff, 1907px 1904px #fff,
    1002px 569px #fff, 185px 1931px #fff, 1747px 111px #fff, 1683px 1629px #fff,
    556px 1157px #fff, 1353px 374px #fff, 960px 1670px #fff, 1409px 433px #fff,
    785px 86px #fff, 1400px 1070px #fff, 245px 852px #fff, 872px 1837px #fff,
    1118px 1915px #fff, 1658px 408px #fff, 1858px 1286px #fff, 1005px 210px #fff,
    590px 1990px #fff, 1771px 926px #fff, 1475px 1092px #fff, 75px 1320px #fff,
    998px 604px #fff, 824px 63px #fff, 48px 1587px #fff, 144px 1611px #fff,
    1541px 224px #fff, 1672px 840px #fff, 1205px 301px #fff, 1408px 1091px #fff,
    557px 1937px #fff, 44px 523px #fff, 1076px 1877px #fff, 792px 1750px #fff,
    1277px 147px #fff, 1822px 926px #fff, 536px 1598px #fff, 181px 737px #fff,
    424px 1864px #fff, 1836px 1911px #fff, 68px 1613px #fff, 1608px 388px #fff,
    1048px 1333px #fff, 1040px 521px #fff, 1720px 684px #fff, 497px 1958px #fff,
    687px 999px #fff, 1460px 674px #fff, 1505px 115px #fff, 1216px 1437px #fff,
    1450px 1769px #fff, 55px 1817px #fff, 689px 1766px #fff, 462px 667px #fff,
    1845px 1255px #fff, 366px 147px #fff, 1432px 772px #fff, 1112px 183px #fff,
    467px 1905px #fff, 921px 403px #fff, 772px 1337px #fff, 1311px 372px #fff,
    751px 979px #fff, 1751px 743px #fff, 1801px 441px #fff, 294px 833px #fff,
    352px 1373px #fff, 655px 1810px #fff, 572px 1839px #fff, 1758px 298px #fff,
    1140px 570px #fff, 167px 1862px #fff, 1970px 1751px #fff, 1059px 1714px #fff,
    206px 773px #fff, 894px 1135px #fff, 751px 399px #fff, 1654px 995px #fff,
    603px 834px #fff, 493px 369px #fff, 757px 302px #fff, 1457px 751px #fff,
    116px 530px #fff, 780px 192px #fff, 547px 1494px #fff, 334px 1920px #fff,
    1588px 290px #fff, 295px 1657px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1673px 1333px #fff, 919px 1462px #fff, 1464px 797px #fff,
    1616px 1067px #fff, 1337px 245px #fff, 1684px 996px #fff, 296px 576px #fff,
    1123px 1320px #fff, 759px 1890px #fff, 624px 1406px #fff, 1028px 1216px #fff,
    1627px 225px #fff, 764px 522px #fff, 1370px 1699px #fff, 1664px 1166px #fff,
    548px 488px #fff, 967px 761px #fff, 640px 1072px #fff, 1458px 695px #fff,
    1687px 1503px #fff, 686px 557px #fff, 1555px 1766px #fff, 441px 206px #fff,
    1329px 1241px #fff, 1683px 1963px #fff, 777px 637px #fff, 252px 341px #fff,
    1796px 1745px #fff, 850px 1504px #fff, 1229px 732px #fff, 1028px 757px #fff,
    615px 915px #fff, 1352px 1816px #fff, 76px 1190px #fff, 206px 1129px #fff,
    366px 177px #fff, 277px 73px #fff, 50px 414px #fff, 1361px 1771px #fff,
    348px 916px #fff, 77px 849px #fff, 983px 1315px #fff, 1988px 1955px #fff,
    1470px 198px #fff, 527px 750px #fff, 1553px 1644px #fff, 359px 1436px #fff,
    651px 515px #fff, 1187px 1742px #fff, 429px 400px #fff, 87px 1782px #fff,
    648px 1676px #fff, 241px 1395px #fff, 695px 1272px #fff, 1012px 730px #fff,
    191px 1959px #fff, 1095px 483px #fff, 1068px 913px #fff, 526px 663px #fff,
    1714px 1156px #fff, 334px 1023px #fff, 1350px 836px #fff, 721px 103px #fff,
    1029px 1415px #fff, 1934px 461px #fff, 587px 1398px #fff, 1294px 1164px #fff,
    994px 1228px #fff, 1381px 1211px #fff, 537px 896px #fff, 566px 445px #fff,
    1567px 1429px #fff, 80px 1285px #fff, 1777px 1038px #fff, 460px 456px #fff,
    896px 151px #fff, 1152px 789px #fff, 767px 1768px #fff, 1407px 553px #fff,
    195px 1435px #fff, 1404px 313px #fff, 149px 1699px #fff, 1981px 1121px #fff,
    1766px 165px #fff, 103px 1221px #fff, 1588px 601px #fff, 1325px 1269px #fff,
    265px 1744px #fff, 1338px 474px #fff, 1558px 1361px #fff, 1153px 1782px #fff,
    363px 447px #fff, 1055px 452px #fff, 1564px 1529px #fff, 1349px 1346px #fff,
    1837px 577px #fff, 761px 1591px #fff, 283px 2000px #fff, 1841px 1047px #fff,
    1974px 1512px #fff;
  animation: animStar 150s linear infinite;
}

#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1673px 1333px #fff, 919px 1462px #fff, 1464px 797px #fff,
    1616px 1067px #fff, 1337px 245px #fff, 1684px 996px #fff, 296px 576px #fff,
    1123px 1320px #fff, 759px 1890px #fff, 624px 1406px #fff, 1028px 1216px #fff,
    1627px 225px #fff, 764px 522px #fff, 1370px 1699px #fff, 1664px 1166px #fff,
    548px 488px #fff, 967px 761px #fff, 640px 1072px #fff, 1458px 695px #fff,
    1687px 1503px #fff, 686px 557px #fff, 1555px 1766px #fff, 441px 206px #fff,
    1329px 1241px #fff, 1683px 1963px #fff, 777px 637px #fff, 252px 341px #fff,
    1796px 1745px #fff, 850px 1504px #fff, 1229px 732px #fff, 1028px 757px #fff,
    615px 915px #fff, 1352px 1816px #fff, 76px 1190px #fff, 206px 1129px #fff,
    366px 177px #fff, 277px 73px #fff, 50px 414px #fff, 1361px 1771px #fff,
    348px 916px #fff, 77px 849px #fff, 983px 1315px #fff, 1988px 1955px #fff,
    1470px 198px #fff, 527px 750px #fff, 1553px 1644px #fff, 359px 1436px #fff,
    651px 515px #fff, 1187px 1742px #fff, 429px 400px #fff, 87px 1782px #fff,
    648px 1676px #fff, 241px 1395px #fff, 695px 1272px #fff, 1012px 730px #fff,
    191px 1959px #fff, 1095px 483px #fff, 1068px 913px #fff, 526px 663px #fff,
    1714px 1156px #fff, 334px 1023px #fff, 1350px 836px #fff, 721px 103px #fff,
    1029px 1415px #fff, 1934px 461px #fff, 587px 1398px #fff, 1294px 1164px #fff,
    994px 1228px #fff, 1381px 1211px #fff, 537px 896px #fff, 566px 445px #fff,
    1567px 1429px #fff, 80px 1285px #fff, 1777px 1038px #fff, 460px 456px #fff,
    896px 151px #fff, 1152px 789px #fff, 767px 1768px #fff, 1407px 553px #fff,
    195px 1435px #fff, 1404px 313px #fff, 149px 1699px #fff, 1981px 1121px #fff,
    1766px 165px #fff, 103px 1221px #fff, 1588px 601px #fff, 1325px 1269px #fff,
    265px 1744px #fff, 1338px 474px #fff, 1558px 1361px #fff, 1153px 1782px #fff,
    363px 447px #fff, 1055px 452px #fff, 1564px 1529px #fff, 1349px 1346px #fff,
    1837px 577px #fff, 761px 1591px #fff, 283px 2000px #fff, 1841px 1047px #fff,
    1974px 1512px #fff;
}

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: bold;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}

#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-2000px);
  }
}