/* .timeline-container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .timeline-body {
    background-color: #000000;
    font-family: "Source Sans Pro";
    color: #f1fbff;
  }
  
  .timeline-title {
    text-align: center;
    font-size: 40px;
  }
  
  .timeline-list {
    padding: 50px 0;
  }
  
  .timeline-item {
    position: relative;
    list-style-type: none;
    width: 6px;
    background-color: white;
    margin: 0 auto;
    padding-top: 50px;
  }
  
  .timeline-item::after {
    background: rgb(63, 62, 62);
    content: '';
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
  }
  
  .timeline-content {
    position: relative;
    width: 3rem;
    padding: 15px;
    border-radius: 5px;
    bottom: 0;
    background: rgba(167, 177, 255, 0.28);
  }
  
  .timeline-item:nth-child(odd) .timeline-content {
    left: 45px;
  }
  
  .timeline-item:nth-child(even) .timeline-content {
    left: -445px;
  }
  
  .timeline-content time {
    font-weight: bold;
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
  }
  
  .timeline-item .timeline-content {
    /* visibility: hidden; 
    opacity: 0;
    transition: all .5s ease-in-out;
  }
  
  .timeline-item:nth-child(odd) .timeline-content {
    transform: translate3d(200px, 0, 0);
  }
  
  .timeline-item:nth-child(even) .timeline-content {
    transform: translate3d(-200px, 0, 0);
  }
  
  .timeline-item.show .timeline-content {
    transform: none;
    visibility: visible;
    opacity: 1;
  }
  
  @media screen and (max-width: 900px) {
    .timeline-content {
      width: 2rem;
    }
    
    .timeline-item:nth-child(even) .timeline-content {
      left: -2rempx;
      
    }
  }
   */


   *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
  body {
    font: normal 10.6666666667px 'Titillium Web', sans-serif;
    /* background: linear-gradient(54deg, #9164ff, #8bfff4); */
    background-color: #080808;
    color: #3c3f64;
    overflow-x: hidden;
    padding-bottom: 50px;
 }
 .heading-timeline {
  text-align: center;
  font-size: 3rem;
  color: white;
  margin-bottom: 3%;

}

  .timeline ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: grey;
 }
  .timeline ul li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) rotate(45deg);
    width: 20px;
    height: 20px;
    z-index: 2;
    background: #d1afaf;
 }
  .timeline ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 20px;
    background: #ffffff;
    box-shadow: 4px 13px 30px 1px rgba(56, 223, 252, 0.2);
    border-radius: 5px;
    display: flex;
    align-items: center;
 }
  .timeline ul li div time {
    position: absolute;
    background: #9ed5e6;
    width: 80px;
    height: 30px;
    top: -15px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
 }
  .timeline ul li div div {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
  .timeline ul li div div p {
    text-align: center;
 }
  .timeline ul li div .discovery {
    margin-right: 10px;
 }
  .timeline ul li:nth-of-type(odd) > div {
    left: 45px;
 }
  .timeline ul li:nth-of-type(even) > div {
    left: -439px;
 }
  .timeline ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
 }
  .timeline ul li:nth-of-type(odd) div {
    transform: translate3d(100px, -10px, 0) rotate(10deg);
 }
  .timeline ul li:nth-of-type(even) div {
    transform: translate3d(-100px, -10px, 0) rotate(10deg);
 }
  .timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
 }
  @media screen and (max-width: 900px) {
    .timeline ul li div {
      width: 250px;
      flex-direction: column;
   }
    .timeline ul li div div {
      width: 80%;
      margin: 10px;
   }
    .timeline ul li:nth-of-type(even) > div {
      left: -289px;
   }
 }
  @media screen and (max-width: 600px) {
    body {
      background: #0b0e0d;
   }
    .timeline ul li {
      margin-left: 20px;
   }
    .timeline ul li div {
      width: calc(100vw - 91px);
   }
    .timeline ul li:nth-of-type(even) > div {
      left: 45px;
   }
 }
  