.tsponser {
  /* background-color: antiquewhite; */
  width: 95%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 200px;
  /* height: 200px; */
}

.theading {
  font-weight: bolder;
  padding: 30px 0px 20px 0px;
  text-align: center;
  font-size: xxx-large;

  color: white;
}

#rcontainer {
  /* width: 70vw; */
  text-align: center;
  /* mask: linear-gradient(90deg, transparent, white 40%, white 60%, transparent); */
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 40%,
    white 60%,
    transparent
  );
}
#list {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
}
.lii {
  color: var(--text-color);
  padding: 10px 20px;
  margin-right: 20px;
  border-radius: 7px;
  /* height: 564px; */
  width: 200px;
}

.tlbtn2 {
  padding: 5px;
}

#rcontainer[data-animated] {
  overflow: hidden;
}
#rcontainer[data-animated] #list {
  width: max-content;
  animation: scrolll 20s linear infinite;
}

.dabb {
  display: flex;
  justify-content: center;
  /* margin-bottom: 4%; */
}

.sponspic {
  height: 70px;
  width: 170px;
  mix-blend-mode: multiply;
}

@keyframes scrolll {
  to {
    translate: calc(-50% - 5px);
  }
}

@media screen and (max-width: 500px) {
  .tsponser {
    /* background-color: antiquewhite; */
    width: 100%;
    margin: auto;
    background-color: transparent;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0;
    /* height: 200px; */
  }
}
