.NavbarComponent,
#hidesidenav {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 5px;
  position: fixed;
  width: 100%;
  z-index: 10;
  /* border: 2px solid white; */
  /* border-radius: 50px; */
  /* margin: 12px 12px; */
}

#hidesidenav {
  display: none;
}

.nav-link {
  position: relative;
  display: inline-block;
  color: white;
  text-decoration: none;
}

.nav-link::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease-in-out;
}

.nav-link:hover::before {
  width: 100%;
}

.NavbarToggle {
  display: none;
  cursor: pointer;
}

.NavabrLogo img {
  display: block;
  width: 140px;
  height: 40px;
}

.NavbarContent {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 2%;
}

.NavbarContent li {
  cursor: pointer;
}

@media (max-width: 768px) {
  .NavbarComponent {
    display: none;
    flex-direction: column;
  }

  .NavbarToggle {
    display: block;
    font-size: 24px;
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .NavbarToggle::before {
    content: "\2630";
    font-size: 24px;
  }

  .NavbarToggle.active::before {
    content: "\00d7";
    font-size: 40px;
  }

  .NavabrLogo img {
    display: none;
  }

  .NavbarContent {
    display: none;
    flex-direction: column;
    /* position: absolute; */
    top: 50%;
    left: 0;
    width: 100%;
    background-color: black;
    padding: 10px;
  }

  .NavbarContent.showMenu {
    display: flex;
  }

  #hidesidenav {
    display: block;
  }
}
