@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

html {
  scroll-behavior: smooth;
  font-family: "Montserrat";
}

button {
  /* font-family: "Audiowide", cursive; */
  font-family: "Montserrat";
}
