.homepage {
  height: 105vh;
  width: 100%;
  background-color: black;
  overflow-y: hidden;
}

.home-gradient {
  position: absolute;
  width: 100%;
  /* z-index: 10; */
  left: 0;
  height: 20vh;
  top: 90vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
}

/* .home-gradient2 {
  position: absolute;
  width: 100%;
  z-index: 100;
  left: 0;
  height: 25vh;
  top: 76vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
} */

.back {
  background-image: url("planet2.jpg");
  width: 100%;
  height: 100%;
  position: absolute;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

.planet {
  /* height: 100%; */
  width: 50%;
  margin-left: -10%;
  margin-top: 12%;
  /* animation: rotateAnimation 25s infinite alternate; */
  /* bottom: -20%; */
  /* position: absolute; */
  position: relative;
  /* z-index: 0; */
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(25deg);
  }
}

#myVideo {
  height: 100vh;
  width: 100%;
  position: absolute;
}

.spacestation {
  background-image: url("spst.png");
  position: absolute;
  /* background-color: white; */
  height: 17vw;
  width: 65vh;
  top: 60%;
  /* background-attachment: fixed; */
  /* background-position: center center; */
  background-size: cover;
}

.astro {
  background-image: url("Astronaut3update.png");
  position: absolute;
  /* background-color: white; */
  height: 87vh;
  width: 37%;
  right: 0;
  top: 50px;
  /* background-attachment: fixed; */
  background-position: center center;
  background-size: cover;
  animation: mover 2.5s infinite alternate;
}

.home-heading {
  /* color: white; */
  position: absolute;
  text-align: center;
  color: white;
  z-index: 5;
  top: 26px;
  width: 98%;
  height: 100vh;
  /* background-color: black; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* font-size: 100px; */
  font-weight: bold;
}

.home-register-btn {
  /* position: relative; */
  /* z-index: 120; */
  text-decoration: none;
  border: 2px solid white;
  color: white;
  font-size: 1.5rem;
  margin-top: 20px;
  padding: 8px 16px;
  width: fit-content;
  cursor: pointer;
  /* padding: 2rem 2.5rem; */
  border-radius: 0.5rem;
  background: rgba(250, 250, 250, 0.2);
}

.home-break {
  display: none;
}

.home-heading-inner2 {
  /* background-color: yellow; */
  margin: -28px 0 9px 0;
  /* padding-top: 5px; */
  border-top: 4px solid white;
  /* font-size: 1.5rem; */
  font-size: 4vh;
}

.home-heading1 {
  /* font-size: 2rem; */
  font-size: 5.5vh;
}

.home-heading2 {
  /* font-size: 2rem; */
  font-size: 4.5vh;
}

.home-heading3 {
  margin-top: -25px;
  /* font-size: 10rem; */
  font-size: 25vh;

  /* font-family: "Anta", sans-serif; */
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  /* font-size: 100px; */
  text-align: center;
  text-shadow: 0 4px 5px rgba(60, 72, 96, 0.5);
  color: rgba(255, 255, 255, 0.9);
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: #fff;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-animation-duration: 0.1s;
  animation-duration: 0.1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
   */
  /* text-shadow: rgb(255, 255, 255) 0px 0px 175px, rgb(255, 255, 255) 0px 0px 10px,
    rgb(255, 255, 255) 0px 0px 1px, rgb(0, 51, 128) 0px 0px 100px,
    rgb(0, 51, 128) 0px 0px 250px; */

  color: #eae8e8;
  text-shadow: 0 0 2px #ffffff, 0 0 10px #ffffff, 0 0 20px #0ba9ca,
    0 0 30px #2998ae, 0 0 40px #349fb5, 0 0 50px #409eb0;
  -webkit-animation: blink 1.5s infinite alternate;
  animation: blink 1.5s infinite alternate;
}

/* @-webkit-keyframes blink {
  100% {
    text-shadow: 0 0 2px #d8d7d7, 0 0 10px #bebdbd, 0 0 20px #bcbbbb,
      0 0 40px #1fa8c4, 0 0 70px #2a6f7d, 0 0 80px #0ba9ca;
  }
} */

@keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20px);
  }
}

@media screen and (max-aspect-ratio: 4/3) {
  .home-break {
    display: block;
  }

  .homepage {
    height: 100vh;
  }

  .home-gradient {
    height: 10vh;
    top: 92vh;
  }

  .home-heading1 {
    /* font-size: 2.4rem; */
    font-size: 9vw;
  }

  .home-heading2 {
    /* font-size: 1.5rem; */
    font-size: 7vw;
  }

  .home-heading3 {
    margin-top: 10px;
    /* font-size: 4.7rem; */
    font-size: 18vw;
  }

  .home-heading-inner2 {
    margin: 0 6% 2vh 6%;
    padding-top: 10px;
    padding-bottom: 5px;
    border-top: 2px solid white;
    /* font-size: 1.2rem; */
    font-size: 4vw;
  }

  .home-register-btn {
    /* font-size: 1rem; */
    font-size: 5vw;
  }

  .planet {
    width: 120%;
    margin-left: -20%;
    margin-top: 56vh;
  }

  .spacestation {
    height: 40vw;
    width: 68vw;
    top: 80%;
  }

  .astro {
    height: 80vw;
    width: 35vh;
    right: 0;
    top: 50px;
  }
}

@media screen and (max-width: 1140px) and (min-width: 581px) {
  /* .home-heading1 {
    font-size: 3rem;
  }

  .home-heading2 {
    font-size: 2rem;
  }

  .home-heading3 {
    margin-top: 10px;
    font-size: 7.5rem;
  }

  .home-heading-inner2 {
    font-size: 1.5rem;
  } */

  .planet {
    width: 100%;
    margin-left: -20%;
    margin-top: 40vh;
  }

  .spacestation {
    height: 30vw;
    width: 55vw;
    top: 72%;
  }

  .astro {
    height: 60vw;
    width: 42vh;
    right: 5px;
    top: 60px;
  }
}

/* 
@media screen and (max-width: 1170px) and (min-width: 676px) {
  .home-heading3 {
    font-size: 9rem;
  }
} */

@media screen and (max-width: 1250px) and (min-width: 885px) {
  .planet {
    width: 100%;
    margin-left: -20%;
    margin-top: 30vh;
  }

  .spacestation {
    height: 20vw;
    width: 35vw;
    top: 70%;
  }

  .astro {
    height: 50vw;
    width: 49vh;

    top: 60px;
  }
}

@media screen and (max-width: 1114px) and (min-width: 765px) {
  .home-register-btn {
    font-size: 1.5rem;
    padding: 10px 16px;
    border-radius: 0.5rem;
  }

  .home-heading-inner2 {
    margin-top: -20px;
    margin-bottom: 20px;
    border-top: 4px solid white;
    font-size: 2.7vw;
  }

  .home-heading {
    margin: auto;
  }

  .home-heading1 {
    font-size: 4vh;
  }

  .home-heading2 {
    /* font-size: 2rem; */
    font-size: 3.6vh;
  }

  .home-heading3 {
    margin-top: -25px;
    font-size: 16vw;
  }
}
